<h1>Home</h1>
<a href="/reports"><button>My Reports</button></a>
<!--<a href="/reports/search"><button>Search Reports</button></a>-->
<a href="/reports/map"><button>View Report Map</button></a>
<a href="/report/new"><button>Create a Report</button></a>
<a href="/logout"><button>Logout</button></a>