<h1>Home</h1>
<div class="menu">
<a href="/reports"><button class="btn"><i class="fa fa-list"></i> My Reports</button></a>
<a href="/report/new"><button class="btn"><i class="fa fa-pencil-square-o"></i> Create a Report</button></a>
<a href="/reports/all"><button class="btn"><i class="fa fa-list-alt"></i> Report List</button></a>
<a href="/reports/map"><button class="btn"><i class="fa fa-map"></i> Report Map</button></a>
<a href="/logout"><button class="btn"><i class="fa fa-sign-out"></i> Logout</button></a>
</div>