<div class="content center">

<a href="/reports/map"><button>Report Map</button></a>

<p>
You must use an account to create a report. 
The account will not be linked to your reports. 
Accounts enable you to make corrections to or delete a report.
They also help prevent spam. 
You can still view the report map without an account. 
</p>

<a href="/login"><button>Login</button></a>

<a href="/signup"><button>Signup</button></a>



</div>