<div class="menu">

<a href="/reports/map"><button class="btn"><i class="fa fa-map"></i> Report Map</button></a>

<a href="/login"><button class="btn">Login</button></a>

<a href="/signup"><button class="btn">Signup</button></a>

</div>

<div class="sidebar">

You must use an account to create a report. 
The account will not be linked to your reports. 
Accounts enable you to edit or delete a report; they also help prevent spam. 
You can still view the report map without an account. 

</div>