<div class="content center">
<p>
You must use an account to create a report. 
The account will not be linked to your reports. 
Accounts enable you to make corrections to or delete a report within 10 minutes from submission.
It also helps prevent spam. 
</p>
<a href="/reports"><button>View reports</button></a>
</br>
<a href="/login"><button>Login</button></a>
</br>
<a href="/signup"><button>Signup</button></a>
</br>
</div>