<a href="/landing"><h1>Back</h1></a>

<% if flash.has?(:message) %>
  <h3 id="error"><%= flash[:message] %></h3>
<% end %>

<h3>Login</h3>
<form action="/login" method="POST">
  <input type="text" name="username" placeholder="Username:">
  <input type="password" name="password" placeholder="Password:">
  <input id="submit" type="submit" value="Log In">
</form>