<a href="/landing"><h1>Back</h1></a>

<% if flash.has?(:message) %>
  <h3 id="error"><%= flash[:message] %></h3>
<% end %>

<h3>Sign Up</h3>
<form action="/signup" method="POST">
	<input type="text" name="username" placeholder="Username:" required="required">
	<input type="password" name="password" placeholder="Password:" required="required">
	<input type="submit" value="Sign Up">
</form>
