
<div class="container">
  <header class="center">
  <img src="images/whistle.png" class="img-responsive main-image">
  <h2>Disclaimer</h2>
  </header>
  <div class="col-md-12 col-md-offset-2">
    <div class="content">
    <ul>
      <li> All activities on this website are anonymous, no one will be able to track you as long as you do not identify yourself voluntarily.</li>
      <li> None of these reports can be confirmed as factually accurate.</li>
      <li> The content provided here is for information purposes only. This website should not be used to promote vigilatism.</li>
    </ul>
    <a href="/landing"><button>I understand</button></a>
    </div>
    
  </div>
</div>