
<a href="/homepage"> Back</a>


<h1>Create a New Report</h1>

<form action="/reports" method="POST">
  <label> Location </label> </br>

  </br>
  <label for="content"> Detailed Description of Event</label></br>
  <textarea id="content" name="content" cols="100" rows="10"> </textarea>
  </br>
  <input id="submit" type="submit" value="Submit">
</form>

